body {
	background-color: pink;
}


html {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.all {
	position: relative;
	width: 1600px;
	height: 900px;
	transform-origin: top left;
}

.pera {
	background-color: gray;
	color: black;
}

#yamafuda{
	position: relative;
	width: 120px;
	height: 160px;
}

#yamafuda img {
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
}

.button{
	color: yellow;
	background-color: red;
	width: 300px;
	height: 120px;
	font-size: 50px;
	border-radius: 50px;
}
.stage {
	position: relative;
	width: 200px;
	height: 200px;
}

.stage img {
	position: absolute;
	top: 0;
	left: 0;
}

#fuda {
	z-index: 1;
}

#playingcards {
	position: fixed;
	width: 120px;
	top: 50px;
	right: 30px;
	z-index: 1;
}


#yamafuda {
	width: 120px;
}

#fuda {
	width: 120px;
	visibility: hidden;
}

#yamafuda img {
	position: absolute;
	top: 0;
	left: 30px;
	width: 120px;
	transition: left 0.15s ease;
}

.card-animation {
	position: fixed;
	width: 120px;
	z-index: 1000;
	transition: left 0.8s ease, top 0.8s ease;
}


.card-animation.flip {
	transform: rotateY(180deg);
	transition: transform 0.5s ease;
}
.gamestage {
	display: flex;
	gap: 50px;
}
.players {
	display: flex;
	gap: 20px;
}

.textbox {
	width: 150px;
	height: 50px;
	border: 1px solid black;
	padding: 10px;
	color: white;
	background-color: rgba(0,0,0,0.75);
}
#you {
	border: 3px solid red;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: white;
}

th, td {
	padding: 10px;
	height: 110px;
}


.page{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

table{
	position: absolute;
	visibility: hidden;
	top: 50px;
	left: 200px;
	width: 1000px;
	height: 500px;
	font-size: 50px;
	z-index:2;
}

#shadow {
	position: fixed;
	visibility: hidden;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.replay {
	color: yellow;
	background-color: red;
	width: 400px;
	height: 100px;
	font-size: 50px;
	border-radius: 20px;
}

#gameContainer {
	width: 1600px;
	height: 900px;
	overflow: hidden;
}

